<div class="ui container middle aligned" style="text-align: left">	
	<div class="ui raised very padded segment" style="margin-top: 100px">

		<h1 class="ui center aligned header">Take Survey</h1><br>

		<%= form_for (@survey), html: {class: 'ui form', name: 'getWeightsForm'} do |form| %>
			<% if @survey.errors.any? %>
			    <div id="error_explanation" class="ui message" style="height: 200px; overflow: scroll; overflow-x: hidden">
			      <h2 class="ui header">
			        <%= pluralize(@survey.errors.count, "error") %> prohibited
			        this survey form from being submitted:
			      </h2>
			      <ul class="ui list">
			        <% @survey.errors.full_messages.each do |msg| %>
			          <li class="item"><%= msg %></li>
			        <% end %>
			      </ul>
			    </div>
			  <% end %>

			<div class="required field" style="width: 300px">
				<%= form.label :name %>
				<%= form.text_field :name, placeholder: "Last Name, First Name" %>
			</div>
			<br>
			<div class="field">
				I will answer as a...<br>
				<div class="ui radio checkbox">
					<%= form.radio_button :user_type, 'developer', :checked => true %> 
					<%= form.label :user_type, "Developer" %>
				</div>
				<div class="ui radio checkbox" style="margin-left: 20px">
					<%= form.radio_button :user_type, 'user' %>
					<%= form.label :user_type, "User" %>
				</div>
			</div>

			<br>
		<p style="text-align: center">
		The following are the definitions of each quality factor as stated in the <strong>ISO/IEC 25010 Standard Model</strong> to give a better understanding:
		<div class="ui grid" style="margin-right: 100px">
			<div class="eight column row">
				<div class="column" id="fs">Functional Suitability</div>
				<div class="column" id="rel">Reliability</div>
				<div class="column" id="pe">Performance Efficiency</div>
				<div class="column" id="op">Operability</div>
				<div class="column" id="sec">Security</div>
				<div class="column" id="comp">Compatibility</div>
				<div class="column" id="maint">Maintainability</div>
				<div class="column" id="trans">Transferability</div>
		</div>
		</div>
		</p>
		<br>
		<div class="ui grid container center aligned">
			<table class="ui selectable table">
				<tbody>
					<tr>
						<td>
							<!-- Functional Suitabiltiy vs Reliability -->
							<h4 class="ui right floated header">Functional Suitability</h4>
							<h4 class="ui left floated header">Reliability</h4>
							<%= form.range_field :fr, :min=>1, :max=>9, :value=>5, :id=>"fr_input_id", :oninput=>"fr_output_id.value = fr_input_id.value"%>
							<output name="fr_output" id="fr_output_id">5</output>
							
						</td>
					</tr>

					<tr>
						<td>
							<!-- Functional Suitability vs Performance Efficiency -->
							<h4 class="ui right floated header">Functional Suitability</h4>
							<h4 class="ui left floated header">Performance Efficiency</h4>
							<%= form.range_field :fp, :min=>1, :max=>9, :value=>5, :id=>"fp_input_id", :oninput=>"fp_output_id.value = fp_input_id.value"%>
							<output name="fp_output" id="fp_output_id">5</output>
						</td>

					</tr>

					<tr>
						<td>
							<!-- Functional Suitability vs Operability -->
							<h4 class="ui right floated header">Functional Suitability</h4>
							<h4 class="ui left floated header">Operability</h4>
							<%= form.range_field :fo, :min=>1, :max=>9, :value=>5, :id=>"fo_input_id", :oninput=>"fo_output_id.value = fo_input_id.value"%>
							<output name="fo_output" id="fo_output_id">5</output>
						</td>

					</tr>

					<tr>
						<td>
							<!-- Functional Suitability vs Security -->
							<h4 class="ui right floated header">Functional Suitability</h4>
							<h4 class="ui left floated header">Security</h4>
							<%= form.range_field :fs, :min=>1, :max=>9, :value=>5, :id=>"fs_input_id", :oninput=>"fs_output_id.value = fs_input_id.value"%>
							<output name="fs_output" id="fs_output_id">5</output>
						</td>

					</tr>

					<tr>
						<td>
							<!-- Functional Suitability vs Compatibility -->
							<h4 class="ui right floated header">Functional Suitability</h4>
							<h4 class="ui left floated header">Compatibility</h4>
							<%= form.range_field :fc, :min=>1, :max=>9, :value=>5, :id=>"fc_input_id", :oninput=>"fc_output_id.value = fc_input_id.value"%>
							<output name="fc_output" id="fc_output_id">5</output>
						</td>

					</tr>

					<tr>
						<td>
							<!-- Functional Suitability vs Maintainability -->
							<h4 class="ui right floated header">Functional Suitability</h4>
							<h4 class="ui left floated header">Maintainability</h4>
							<%= form.range_field :fm, :min=>1, :max=>9, :value=>5, :id=>"fm_input_id", :oninput=>"fm_output_id.value = fm_input_id.value"%>
							<output name="fm_output" id="fm_output_id">5</output>
						</td>

					</tr>

					<tr>
						<td>
							<!-- Functional Suitability vs Transferability -->
							<h4 class="ui right floated header">Functional Suitability</h4>
							<h4 class="ui left floated header">Transferability</h4>
							<%= form.range_field :ft, :min=>1, :max=>9, :value=>5, :id=>"ft_input_id", :oninput=>"ft_output_id.value = ft_input_id.value"%>
							<output name="ft_output" id="ft_output_id">5</output>
						</td>

					</tr>

					<tr>
						<td>
							<!-- Reliability vs Performance Efficiency -->
							<h4 class="ui right floated header">Reliability</h4>
							<h4 class="ui left floated header">Performance Efficiency</h4>
							<%= form.range_field :rp, :min=>1, :max=>9, :value=>5, :id=>"rp_input_id", :oninput=>"rp_output_id.value = rp_input_id.value"%>
							<output name="rp_output" id="rp_output_id">5</output>
						</td>

					</tr>

					<tr>
						<td>
							<!-- Reliability vs Operability -->
							<h4 class="ui right floated header">Reliability</h4>
							<h4 class="ui left floated header">Operability</h4>
							<%= form.range_field :ro, :min=>1, :max=>9, :value=>5, :id=>"ro_input_id", :oninput=>"ro_output_id.value = ro_input_id.value"%>
							<output name="ro_output" id="ro_output_id">5</output>
						</td>

					</tr>

					<tr>
						<td>
							<!-- Reliability vs Security -->
							<h4 class="ui right floated header">Reliability</h4>
							<h4 class="ui left floated header">Security</h4>
							<%= form.range_field :rs, :min=>1, :max=>9, :value=>5, :id=>"rs_input_id", :oninput=>"rs_output_id.value = rs_input_id.value"%>
							<output name="rs_output" id="rs_output_id">5</output>
						</td>

					</tr>

					<tr>
						<td>
							<!-- Reliability vs Compatability -->
							<h4 class="ui right floated header">Reliability</h4>
							<h4 class="ui left floated header">Compatibility</h4>
							<%= form.range_field :rc, :min=>1, :max=>9, :value=>5, :id=>"rc_input_id", :oninput=>"rc_output_id.value = rc_input_id.value"%>
							<output name="rc_output" id="rc_output_id">5</output>
						</td>

					</tr>

					<tr>
						<td>
							<!-- Reliability vs Maintainability -->
							<h4 class="ui right floated header">Reliability</h4>
							<h4 class="ui left floated header">Maintainability</h4>
							<%= form.range_field :rm, :min=>1, :max=>9, :value=>5, :id=>"rm_input_id", :oninput=>"rm_output_id.value = rm_input_id.value"%>
							<output name="rm_output" id="rm_output_id">5</output>
						</td>

					</tr>

					<tr>
						<td>
							<!-- Reliability vs Transferability -->
							<h4 class="ui right floated header">Reliability</h4>
							<h4 class="ui left floated header">Transferability</h4>
							<%= form.range_field :rt, :min=>1, :max=>9, :value=>5, :id=>"rt_input_id", :oninput=>"rt_output_id.value = rt_input_id.value"%>
							<output name="rt_output" id="rt_output_id">5</output>
						</td>

					</tr>

					<tr>
						<td>
							<!-- Performance Efficiency vs Operability -->
							<h4 class="ui right floated header">Performance Efficiency</h4>
							<h4 class="ui left floated header">Operability</h4>
							<%= form.range_field :po, :min=>1, :max=>9, :value=>5, :id=>"po_input_id", :oninput=>"po_output_id.value = po_input_id.value"%>
							<output name="po_output" id="po_output_id">5</output>
						</td>

					</tr>

					<tr>
						<td>
							<!-- Performance Efficiency vs Security -->
							<h4 class="ui right floated header">Performance Efficiency</h4>
							<h4 class="ui left floated header">Security</h4>
							<%= form.range_field :ps, :min=>1, :max=>9, :value=>5, :id=>"ps_input_id", :oninput=>"ps_output_id.value = ps_input_id.value"%>
							<output name="ps_output" id="ps_output_id">5</output>
						</td>

					</tr>

					<tr>
						<td>
							<!-- Performance Efficiency vs Compatibility -->
							<h4 class="ui right floated header">Performance Efficiency</h4>
							<h4 class="ui left floated header">Compatibility</h4>
							<%= form.range_field :pc, :min=>1, :max=>9, :value=>5, :id=>"pc_input_id", :oninput=>"pc_output_id.value = pc_input_id.value"%>
							<output name="pc_output" id="pc_output_id">5</output>
						</td>

					</tr>

					<tr>
						<td>
							<!-- Performance Efficiency vs Maintainability -->
							<h4 class="ui right floated header">Performance Efficiency</h4>
							<h4 class="ui left floated header">Maintainability</h4>
							<%= form.range_field :pm, :min=>1, :max=>9, :value=>5, :id=>"pm_input_id", :oninput=>"pm_output_id.value = pm_input_id.value"%>
							<output name="pm_output" id="pm_output_id">5</output>
						</td>

					</tr>

					<tr>
						<td>
							<!-- Performance Efficiency vs Transferability -->
							<h4 class="ui right floated header">Performance Efficiency</h4>
							<h4 class="ui left floated header">Transferability</h4>
							<%= form.range_field :pt, :min=>1, :max=>9, :value=>5, :id=>"pt_input_id", :oninput=>"pt_output_id.value = pt_input_id.value"%>
							<output name="pt_output" id="pt_output_id">5</output>
						</td>

					</tr>

					<tr>
						<td>
							<!-- Operability vs Security -->
							<h4 class="ui right floated header">Operability</h4>
							<h4 class="ui left floated header">Security</h4>
							<%= form.range_field :os, :min=>1, :max=>9, :value=>5, :id=>"os_input_id", :oninput=>"os_output_id.value = os_input_id.value"%>
							<output name="os_output" id="os_output_id">5</output>
						</td>

					</tr>

					<tr>
						<td>
							<!-- Operability vs Compatibility -->
							<h4 class="ui right floated header">Operability</h4>
							<h4 class="ui left floated header">Compatibility</h4>
							<%= form.range_field :oc, :min=>1, :max=>9, :value=>5, :id=>"oc_input_id", :oninput=>"oc_output_id.value = oc_input_id.value"%>
							<output name="oc_output" id="oc_output_id">5</output>
						</td>

					</tr>

					<tr>
						<td>
							<!-- Operability vs Maintainabilitiy -->
							<h4 class="ui right floated header">Operability</h4>
							<h4 class="ui left floated header">Maintainability</h4>
							<%= form.range_field :om, :min=>1, :max=>9, :value=>5, :id=>"om_input_id", :oninput=>"om_output_id.value = om_input_id.value"%>
							<output name="om_output" id="om_output_id">5</output>
						</td>

					</tr>

					<tr>
						<td>
							<!-- Operability vs Transferability -->
							<h4 class="ui right floated header">Operability</h4>
							<h4 class="ui left floated header">Transferability</h4>
							<%= form.range_field :ot, :min=>1, :max=>9, :value=>5, :id=>"ot_input_id", :oninput=>"ot_output_id.value = ot_input_id.value"%>
							<output name="ot_output" id="ot_output_id">5</output>
						</td>

					</tr>

					<tr>
						<td>
							<!-- Security vs Compatibility -->
							<h4 class="ui right floated header">Security</h4>
							<h4 class="ui left floated header">Compatibility</h4>
							<%= form.range_field :sc, :min=>1, :max=>9, :value=>5, :id=>"sc_input_id", :oninput=>"sc_output_id.value = sc_input_id.value"%>
							<output name="sc_output" id="sc_output_id">5</output>
						</td>

					</tr>

					<tr>
						<td>
							<!-- Security vs Maintainability -->
							<h4 class="ui right floated header">Security</h4>
							<h4 class="ui left floated header">Maintainability</h4>
							<%= form.range_field :sm, :min=>1, :max=>9, :value=>5, :id=>"sm_input_id", :oninput=>"sm_output_id.value = sm_input_id.value"%>
							<output name="sm_output" id="sm_output_id">5</output>
						</td>

					</tr>

					<tr>
						<td>
							<!-- Security vs Transferability -->
							<h4 class="ui right floated header">Security</h4>
							<h4 class="ui left floated header">Transferability</h4>
							<%= form.range_field :st, :min=>1, :max=>9, :value=>5, :id=>"st_input_id", :oninput=>"st_output_id.value = st_input_id.value"%>
							<output name="st_output" id="st_output_id">5</output>
						</td>

					</tr>

					<tr>
						<td>
							<!-- Compatibility vs Maintainability -->
							<h4 class="ui right floated header">Compatibility</h4>
							<h4 class="ui left floated header">Maintainability</h4>
							<%= form.range_field :cm, :min=>1, :max=>9, :value=>5, :id=>"cm_input_id", :oninput=>"cm_output_id.value = cm_input_id.value"%>
							<output name="cm_output" id="cm_output_id">5</output>
						</td>

					</tr>

					<tr>
						<td>
							<!-- Compatibility vs Transferability -->
							<h4 class="ui right floated header">Compatibility</h4>
							<h4 class="ui left floated header">Transferability</h4>
							<%= form.range_field :ct, :min=>1, :max=>9, :value=>5, :id=>"ct_input_id", :oninput=>"ct_output_id.value = ct_input_id.value"%>
							<output name="ct_output" id="ct_output_id">5</output>
						</td>

					</tr>

					<tr>
						<td>
							<!-- Maintainability vs Transferability -->
							<h4 class="ui right floated header">Maintainability</h4>
							<h4 class="ui left floated header">Transferability</h4>
							<%= form.range_field :mt, :min=>1, :max=>9, :value=>5, :id=>"mt_input_id", :oninput=>"mt_output_id.value = mt_input_id.value"%>
							<output name="mt_output" id="mt_output_id">5</output>
						</td>

					</tr>


				</tbody>
			</table>
		</div>
		<br>
	<br>
	<div class="ui grid center aligned">
		<div class="three column row">
			<div class="column"></div>
			<div class="column">
					<%= form.submit "Submit Survey", class: "positive ui button" %>
					<br>
				<% end %>
			</div>
			<div class="column"></div>
		</div>
	</div>


	</div>
	
</div>

<!-- modals -->
<div class="ui small modal" id="fsmodal">
	<i class="close icon"></i>
	<div class="header">Functional Suitability</div>
	<div class="content">
		<p>This characteristic represents the degree to which a product or system provides functions that meet stated and implied needs when used under specified conditions.</p>
	</div>
</div>
<div class="ui small modal" id="relmodal">
	<i class="close icon"></i>
	<div class="header">Reliability</div>
	<div class="content">
		<p>This characteristic refers to the degree to which a system, a product or component performs specified functions under specified conditions for a specified period of time.</p>
	</div>
</div>
<div class="ui small modal" id="pemodal">
	<i class="close icon"></i>
	<div class="header">Performance Efficiency</div>
	<div class="content">
		<p>This characteristic represents the performance relative to the amount of resources used under stated conditions.</p>
	</div>
</div>
<div class="ui small modal" id="opmodal">
	<i class="close icon"></i>
	<div class="header">Operability</div>
	<div class="content">
		<p>This characteristic refers to the degree to which a product or system can be used by specified users to achieve specified goals with effectiveness, efficiency and satisfaction in a specified context of use.</p>
	</div>
</div>
<div class="ui small modal" id="secmodal">
	<i class="close icon"></i>
	<div class="header">Security</div>
	<div class="content">
		<p>This characteristic refers to the degree to which a product or system protects information and data so that persons or other products or systems have the degree of data access appropriate to their types and levels of authorization.</p>
	</div>
</div>
</div>
<div class="ui small modal" id="compmodal">
	<i class="close icon"></i>
	<div class="header">Compatibility</div>
	<div class="content">
		<p>This characteristic refers to the degree to which a product, system or component can exchange information with other products, systems or components, and/or perform its required functions, while sharing the same hardware or software environment.</p>
	</div>
</div>
<div class="ui small modal" id="maintmodal">
	<i class="close icon"></i>
	<div class="header">Maintainability</div>
	<div class="content">
		<p>This characteristic represents the degree of effectiveness and efficiency with which a product or system can be modified to improve it, correct it or adapt it to changes in environment, and in requirements.</p>
	</div>
</div>
<div class="ui small modal" id="transmodal">
	<i class="close icon"></i>
	<div class="header">Transferability</div>
	<div class="content">
		<p>This characteristic refers to the degree of effetiveness and efficiency with which a system, product or component can be transferred from one hardware, software or other operational or usage environment to another.</p>
	</div>
</div>



