<div class="ui container middle aligned" style="text-align: left">	
	<div class="ui raised very padded segment" style="margin-top: 100px">

		<h1 class="ui center aligned header">Take Survey</h1><br>

		<%= form_for (@survey), html: {class: 'ui form'} do |form| %>
			<% if @survey.errors.any? %>
			    <div id="error_explanation" class="ui message" style="height: 200px; overflow: scroll; overflow-x: hidden">
			      <h2 class="ui header">
			        <%= pluralize(@survey.errors.count, "error") %> prohibited
			        this survey form from being submitted:
			      </h2>
			      <ul class="ui list">
			        <% @survey.errors.full_messages.each do |msg| %>
			          <li class="item"><%= msg %></li>
			        <% end %>
			      </ul>
			    </div>
			  <% end %>

			<div class="required field" style="width: 300px">
				<%= form.label :name %>
				<%= form.text_field :name, placeholder: "Last Name, First Name" %>
			</div>
			<br>
			<div class="field">
				I will answer as a...<br>
				<div class="ui radio checkbox">
					<%= form.radio_button :user_type, 'developer', :checked => true %> 
					<%= form.label :user_type, "Developer" %>
				</div>
				<div class="ui radio checkbox" style="margin-left: 20px">
					<%= form.radio_button :user_type, 'user' %>
					<%= form.label :user_type, "User" %>
				</div>
			</div>

			<br>
		<p style="text-align: center">
		The following are the definitions of each quality factor as stated in the <strong>ISO/IEC 25010 Standard Model</strong> to give a better understanding:<br>
		<ul>
			<li><strong>Functional Suitability</strong> - this characteristic represents the degree to which a product or system provides functions that meet stated and implied needs when used under specified conditions.</li>
			<li><strong>Reliability</strong> - this characteristic refers to the degree to which a system, a product or component performs specified functions under specified conditions for a specified period of time.</li>
			<li><strong>Performance Efficiency</strong> - this characteristic represents the performance relative to the amount of resources used under stated conditions.</li>
			<li><strong>Operability</strong> - this characteristic refers to the degree to which a product or system can be used by specified users to achieve specified goals with effectiveness, efficiency and satisfaction in a specified context of use.</li>
			<li><strong>Security</strong> - this characteristic refers to the de</li>
			<li><strong>Compatibility</strong> - this characteristic refers to the degree to which a product, system or component can exchange information with other products, systems or components, and/or perform its required functions, while sharing the same hardware or software environment.</li>
			<li><strong>Maintainability</strong> - this characteristic represents the degree of effectiveness and efficiency with which a product or system can be modified to improve it, correct it or adapt it to changes in environment, and in requirements.</li>
			<li><strong>Transferability</strong> - this characteristic refers to the degree of effetiveness and efficiency with which a system, product or component can be transferred from one hardware, software or other operational or usage environment to another.</li>
		</ul>
		</p>
		<br>
		<div class="ui grid container center aligned">
			<table class="ui celled padded table" style="width: 800px">
				<tbody>
					<tr>
						<td>
							<div class="ui grid">
								<div class="range">
								  <input type="range" min="1" max="7" steps="1" value="1">
								</div>

								<ul class="range-labels">
								  <li class="active selected">Functional Suitability</li>
								  <li>Strongly</li>
								  <li>Slightly</li>
								  <li>Equal</li>
								  <li>Slightly</li>
								  <li>Strongly</li>
								  <li>Reliability</li>
								</ul>
							</div>
						</td>

					</tr>

					<tr>
						<td>
							<div class="ui grid">
								<div class="range">
								  <input type="range" min="1" max="7" steps="1" value="1">
								</div>

								<ul class="range-labels">
								  <li class="active selected">Functional Suitability</li>
								  <li>Strongly</li>
								  <li>Slightly</li>
								  <li>Equal</li>
								  <li>Slightly</li>
								  <li>Strongly</li>
								  <li>Performance Efficiency</li>
								</ul>
							</div>
						</td>

					</tr>

					<tr>
						<td>
							<div class="ui grid">
								<div class="range">
								  <input type="range" min="1" max="7" steps="1" value="1">
								</div>

								<ul class="range-labels">
								  <li class="active selected">Functional Suitability</li>
								  <li>Strongly</li>
								  <li>Slightly</li>
								  <li>Equal</li>
								  <li>Slightly</li>
								  <li>Strongly</li>
								  <li>Operability</li>
								</ul>
							</div>
						</td>

					</tr>

					<tr>
						<td>
							<div class="ui grid">
								<div class="range">
								  <input type="range" min="1" max="7" steps="1" value="1">
								</div>

								<ul class="range-labels">
								  <li class="active selected">Functional Suitability</li>
								  <li>Strongly</li>
								  <li>Slightly</li>
								  <li>Equal</li>
								  <li>Slightly</li>
								  <li>Strongly</li>
								  <li>Security</li>
								</ul>
							</div>
						</td>

					</tr>

					<tr>
						<td>
							<div class="ui grid">
								<div class="range">
								  <input type="range" min="1" max="7" steps="1" value="1">
								</div>

								<ul class="range-labels">
								  <li class="active selected">Functional Suitability</li>
								  <li>Strongly</li>
								  <li>Slightly</li>
								  <li>Equal</li>
								  <li>Slightly</li>
								  <li>Strongly</li>
								  <li>Compatibility</li>
								</ul>
							</div>
						</td>

					</tr>

					<tr>
						<td>
							<div class="ui grid">
								<div class="range">
								  <input type="range" min="1" max="7" steps="1" value="1">
								</div>

								<ul class="range-labels">
								  <li class="active selected">Functional Suitability</li>
								  <li>Strongly</li>
								  <li>Slightly</li>
								  <li>Equal</li>
								  <li>Slightly</li>
								  <li>Strongly</li>
								  <li>Maintainability</li>
								</ul>
							</div>
						</td>

					</tr>

					<tr>
						<td>
							<div class="ui grid">
								<div class="range">
								  <input type="range" min="1" max="7" steps="1" value="1">
								</div>

								<ul class="range-labels">
								  <li class="active selected">Functional Suitability</li>
								  <li>Strongly</li>
								  <li>Slightly</li>
								  <li>Equal</li>
								  <li>Slightly</li>
								  <li>Strongly</li>
								  <li>Transferability</li>
								</ul>
							</div>
						</td>

					</tr>

					<tr>
						<td>
							<div class="ui grid">
								<div class="range">
								  <input type="range" min="1" max="7" steps="1" value="1">
								</div>

								<ul class="range-labels">
								  <li class="active selected">Reliability</li>
								  <li>Strongly</li>
								  <li>Slightly</li>
								  <li>Equal</li>
								  <li>Slightly</li>
								  <li>Strongly</li>
								  <li>Performance Efficiency</li>
								</ul>
							</div>
						</td>

					</tr>

					<tr>
						<td>
							<div class="ui grid">
								<div class="range">
								  <input type="range" min="1" max="7" steps="1" value="1">
								</div>

								<ul class="range-labels">
								  <li class="active selected">Reliability</li>
								  <li>Strongly</li>
								  <li>Slightly</li>
								  <li>Equal</li>
								  <li>Slightly</li>
								  <li>Strongly</li>
								  <li>Operability</li>
								</ul>
							</div>
						</td>

					</tr>

					<tr>
						<td>
							<div class="ui grid">
								<div class="range">
								  <input type="range" min="1" max="7" steps="1" value="1">
								</div>

								<ul class="range-labels">
								  <li class="active selected">Reliability</li>
								  <li>Strongly</li>
								  <li>Slightly</li>
								  <li>Equal</li>
								  <li>Slightly</li>
								  <li>Strongly</li>
								  <li>Security</li>
								</ul>
							</div>
						</td>

					</tr>

					<tr>
						<td>
							<div class="ui grid">
								<div class="range">
								  <input type="range" min="1" max="7" steps="1" value="1">
								</div>

								<ul class="range-labels">
								  <li class="active selected">Reliability</li>
								  <li>Strongly</li>
								  <li>Slightly</li>
								  <li>Equal</li>
								  <li>Slightly</li>
								  <li>Strongly</li>
								  <li>Compatibility</li>
								</ul>
							</div>
						</td>

					</tr>

					<tr>
						<td>
							<div class="ui grid">
								<div class="range">
								  <input type="range" min="1" max="7" steps="1" value="1">
								</div>

								<ul class="range-labels">
								  <li class="active selected">Reliability</li>
								  <li>Strongly</li>
								  <li>Slightly</li>
								  <li>Equal</li>
								  <li>Slightly</li>
								  <li>Strongly</li>
								  <li>Maintainability</li>
								</ul>
							</div>
						</td>

					</tr>

					<tr>
						<td>
							<div class="ui grid">
								<div class="range">
								  <input type="range" min="1" max="7" steps="1" value="1">
								</div>

								<ul class="range-labels">
								  <li class="active selected">Reliability</li>
								  <li>Strongly</li>
								  <li>Slightly</li>
								  <li>Equal</li>
								  <li>Slightly</li>
								  <li>Strongly</li>
								  <li>Transferability</li>
								</ul>
							</div>
						</td>

					</tr>

					<tr>
						<td>
							<div class="ui grid">
								<div class="range">
								  <input type="range" min="1" max="7" steps="1" value="1">
								</div>

								<ul class="range-labels">
								  <li class="active selected">Performance Efficiency</li>
								  <li>Strongly</li>
								  <li>Slightly</li>
								  <li>Equal</li>
								  <li>Slightly</li>
								  <li>Strongly</li>
								  <li>Operability</li>
								</ul>
							</div>
						</td>

					</tr>

					<tr>
						<td>
							<div class="ui grid">
								<div class="range">
								  <input type="range" min="1" max="7" steps="1" value="1">
								</div>

								<ul class="range-labels">
								  <li class="active selected">Performance Efficiency</li>
								  <li>Strongly</li>
								  <li>Slightly</li>
								  <li>Equal</li>
								  <li>Slightly</li>
								  <li>Strongly</li>
								  <li>Security</li>
								</ul>
							</div>
						</td>

					</tr>

					<tr>
						<td>
							<div class="ui grid">
								<div class="range">
								  <input type="range" min="1" max="7" steps="1" value="1">
								</div>

								<ul class="range-labels">
								  <li class="active selected">Performance Efficiency</li>
								  <li>Strongly</li>
								  <li>Slightly</li>
								  <li>Equal</li>
								  <li>Slightly</li>
								  <li>Strongly</li>
								  <li>Compatibility</li>
								</ul>
							</div>
						</td>

					</tr>

					<tr>
						<td>
							<div class="ui grid">
								<div class="range">
								  <input type="range" min="1" max="7" steps="1" value="1">
								</div>

								<ul class="range-labels">
								  <li class="active selected">Performance Efficiency</li>
								  <li>Strongly</li>
								  <li>Slightly</li>
								  <li>Equal</li>
								  <li>Slightly</li>
								  <li>Strongly</li>
								  <li>Maintainability</li>
								</ul>
							</div>
						</td>

					</tr>

					<tr>
						<td>
							<div class="ui grid">
								<div class="range">
								  <input type="range" min="1" max="7" steps="1" value="1">
								</div>

								<ul class="range-labels">
								  <li class="active selected">Performance Efficiency</li>
								  <li>Strongly</li>
								  <li>Slightly</li>
								  <li>Equal</li>
								  <li>Slightly</li>
								  <li>Strongly</li>
								  <li>Transferability</li>
								</ul>
							</div>
						</td>

					</tr>

					<tr>
						<td>
							<div class="ui grid">
								<div class="range">
								  <input type="range" min="1" max="7" steps="1" value="1">
								</div>

								<ul class="range-labels">
								  <li class="active selected">Operability</li>
								  <li>Strongly</li>
								  <li>Slightly</li>
								  <li>Equal</li>
								  <li>Slightly</li>
								  <li>Strongly</li>
								  <li>Security</li>
								</ul>
							</div>
						</td>

					</tr>

					<tr>
						<td>
							<div class="ui grid">
								<div class="range">
								  <input type="range" min="1" max="7" steps="1" value="1">
								</div>

								<ul class="range-labels">
								  <li class="active selected">Operability</li>
								  <li>Strongly</li>
								  <li>Slightly</li>
								  <li>Equal</li>
								  <li>Slightly</li>
								  <li>Strongly</li>
								  <li>Compatibility</li>
								</ul>
							</div>
						</td>

					</tr>

					<tr>
						<td>
							<div class="ui grid">
								<div class="range">
								  <input type="range" min="1" max="7" steps="1" value="1">
								</div>

								<ul class="range-labels">
								  <li class="active selected">Operability</li>
								  <li>Strongly</li>
								  <li>Slightly</li>
								  <li>Equal</li>
								  <li>Slightly</li>
								  <li>Strongly</li>
								  <li>Maintainability</li>
								</ul>
							</div>
						</td>

					</tr>

					<tr>
						<td>
							<div class="ui grid">
								<div class="range">
								  <input type="range" min="1" max="7" steps="1" value="1">
								</div>

								<ul class="range-labels">
								  <li class="active selected">Operability</li>
								  <li>Strongly</li>
								  <li>Slightly</li>
								  <li>Equal</li>
								  <li>Slightly</li>
								  <li>Strongly</li>
								  <li>Transferability</li>
								</ul>
							</div>
						</td>

					</tr>

					<tr>
						<td>
							<div class="ui grid">
								<div class="range">
								  <input type="range" min="1" max="7" steps="1" value="1">
								</div>

								<ul class="range-labels">
								  <li class="active selected">Security</li>
								  <li>Strongly</li>
								  <li>Slightly</li>
								  <li>Equal</li>
								  <li>Slightly</li>
								  <li>Strongly</li>
								  <li>Compatibility</li>
								</ul>
							</div>
						</td>

					</tr>

					<tr>
						<td>
							<div class="ui grid">
								<div class="range">
								  <input type="range" min="1" max="7" steps="1" value="1">
								</div>

								<ul class="range-labels">
								  <li class="active selected">Security</li>
								  <li>Strongly</li>
								  <li>Slightly</li>
								  <li>Equal</li>
								  <li>Slightly</li>
								  <li>Strongly</li>
								  <li>Maintainability</li>
								</ul>
							</div>
						</td>

					</tr>

					<tr>
						<td>
							<div class="ui grid">
								<div class="range">
								  <input type="range" min="1" max="7" steps="1" value="1">
								</div>

								<ul class="range-labels">
								  <li class="active selected">Security</li>
								  <li>Strongly</li>
								  <li>Slightly</li>
								  <li>Equal</li>
								  <li>Slightly</li>
								  <li>Strongly</li>
								  <li>Transferability</li>
								</ul>
							</div>
						</td>

					</tr>

					<tr>
						<td>
							<div class="ui grid">
								<div class="range">
								  <input type="range" min="1" max="7" steps="1" value="1">
								</div>

								<ul class="range-labels">
								  <li class="active selected">Compatibility</li>
								  <li>Strongly</li>
								  <li>Slightly</li>
								  <li>Equal</li>
								  <li>Slightly</li>
								  <li>Strongly</li>
								  <li>Maintainability</li>
								</ul>
							</div>
						</td>

					</tr>

					<tr>
						<td>
							<div class="ui grid">
								<div class="range">
								  <input type="range" min="1" max="7" steps="1" value="1">
								</div>

								<ul class="range-labels">
								  <li class="active selected">Compatibility</li>
								  <li>Strongly</li>
								  <li>Slightly</li>
								  <li>Equal</li>
								  <li>Slightly</li>
								  <li>Strongly</li>
								  <li>Transferability</li>
								</ul>
							</div>
						</td>

					</tr>

					<tr>
						<td>
							<div class="ui grid">
								<div class="range">
								  <input type="range" min="1" max="7" steps="1" value="1">
								</div>

								<ul class="range-labels">
								  <li class="active selected">Maintainability</li>
								  <li>Strongly</li>
								  <li>Slightly</li>
								  <li>Equal</li>
								  <li>Slightly</li>
								  <li>Strongly</li>
								  <li>Transferability</li>
								</ul>
							</div>
						</td>

					</tr>


				</tbody>
			</table>
		</div>
		<br>
	<br>
	<div class="ui grid center aligned">
		<div class="three column row">
			<div class="column"></div>
			<div class="column">
					<%= form.submit "Submit Survey", class: "positive ui button" %>
					<br>
				<% end %>
			</div>
			<div class="column"></div>
		</div>
	</div>


	</div>
	
</div>






