<h1>Take Survey</h1>

<%= form_for(@survey) do |form| %>
	<p>
		<%= form.label :name %>&nbsp;
		<%= form.text_field :name %>
	</p>

	<p>
		I will answer as a...<br>

		<!-- Question: user_type is saved as 't' in the database? Why? -->

		<%= form.radio_button :user_type, 'developer', :checked => true %> 
		Developer
		<%= form.radio_button :user_type, 'user' %>
		User
	</p>


<p>
	The following are the definitions of each quality factor as stated in the journal <em>“”</em> to give a better understanding:<br>
<ul>
	<li><strong>Functional Suitability</strong></li>
	<li><strong>Reliability</strong></li>
	<li><strong>Performance Efficiency</strong></li>
	<li><strong>Operability</strong></li>
	<li><strong>Security</strong></li>
	<li><strong>Compatibility</strong></li>
	<li><strong>Maintainability</strong></li>
	<li><strong>Transferability</strong></li>
</ul>
	In each row of the table below, which quality factor is more important with respect to a UHRIS applications? And how strongly?<br>Please check the table below and rate the factors from 1 to 5. If you believe the second quality is more important than the first quality factor, add a negative to your rating to signify your preference.<br>

	(5 = First Quality Factor is way more important than Second Quality Factor)<br>
	(0 = First Quality Factor is of equal importance with the Second Quality Factor)<br>
	(-5 = Second Quality Factor is way more important than First Quality Factor)
</p>


<table>
	<thead>
		<tr> 
			<th style="border:1px solid black">First Quality Factor</th>
			<th style="border:1px solid black">Second Quality Factor</th>
			<th style="border:1px solid black">Stregth of Preference (-5 to 5)</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="border:1px solid black">Functional Suitability</td>
			<td style="border:1px solid black">Reliability</td>

		</tr>

		<tr>
			<td style="border:1px solid black">Functional Suitability</td>
			<td style="border:1px solid black">Performance Efficiency</td>

		</tr>

		<tr>
			<td style="border:1px solid black">Functional Suitability</td>
			<td style="border:1px solid black">Operatability</td>

		</tr>

		<tr>
			<td style="border:1px solid black">Functional Suitability</td>
			<td style="border:1px solid black">Security</td>

		</tr>

		<tr>
			<td style="border:1px solid black">Functional Suitability</td>
			<td style="border:1px solid black">Compatibility</td>

		</tr>

		<tr>
			<td style="border:1px solid black">Functional Suitability</td>
			<td style="border:1px solid black">Maintainability</td>

		</tr>

		<tr>
			<td style="border:1px solid black">Functional Suitability</td>
			<td style="border:1px solid black">Transferability</td>

		</tr>

		<tr>
			<td style="border:1px solid black">Reliability</td>
			<td style="border:1px solid black">Performance Efficiency</td>

		</tr>

		<tr>
			<td style="border:1px solid black">Reliability</td>
			<td style="border:1px solid black">Operability</td>

		</tr>

		<tr>
			<td style="border:1px solid black">Reliability</td>
			<td style="border:1px solid black">Security</td>

		</tr>

		<tr>
			<td style="border:1px solid black">Reliability</td>
			<td style="border:1px solid black">Compatibility</td>

		</tr>

		<tr>
			<td style="border:1px solid black">Reliability</td>
			<td style="border:1px solid black">Maintainability</td>

		</tr>

		<tr>
			<td style="border:1px solid black">Reliability</td>
			<td style="border:1px solid black">Transferability</td>

		</tr>

		<tr>
			<td style="border:1px solid black">Performance Efficiency</td>
			<td style="border:1px solid black">Operability</td>

		</tr>

		<tr>
			<td style="border:1px solid black">Performance Efficiency</td>
			<td style="border:1px solid black">Security</td>

		</tr>

		<tr>
			<td style="border:1px solid black">Performance Efficiency</td>
			<td style="border:1px solid black">Compatibility</td>

		</tr>

		<tr>
			<td style="border:1px solid black">Performance Efficiency</td>
			<td style="border:1px solid black">Maintainability</td>

		</tr>

		<tr>
			<td style="border:1px solid black">Performance Efficiency</td>
			<td style="border:1px solid black">Transferability</td>

		</tr>

		<tr>
			<td style="border:1px solid black">Operability</td>
			<td style="border:1px solid black">Security</td>

		</tr>

		<tr>
			<td style="border:1px solid black">Operability</td>
			<td style="border:1px solid black">Compatibility</td>

		</tr>

		<tr>
			<td style="border:1px solid black">Operability</td>
			<td style="border:1px solid black">Maintainability</td>

		</tr>

		<tr>
			<td style="border:1px solid black">Operability</td>
			<td style="border:1px solid black">Transferability</td>

		</tr>

		<tr>
			<td style="border:1px solid black">Security</td>
			<td style="border:1px solid black">Compatibility</td>

		</tr>

		<tr>
			<td style="border:1px solid black">Security</td>
			<td style="border:1px solid black">Maintainability</td>

		</tr>

		<tr>
			<td style="border:1px solid black">Security</td>
			<td style="border:1px solid black">Transferability</td>

		</tr>

		<tr>
			<td style="border:1px solid black">Compatibility</td>
			<td style="border:1px solid black">Maintainability</td>

		</tr>

		<tr>
			<td style="border:1px solid black">Compatibility</td>
			<td style="border:1px solid black">Transferability</td>

		</tr>

		<tr>
			<td style="border:1px solid black">Maintainability</td>
			<td style="border:1px solid black">Transferability</td>

		</tr>


	</tbody>
</table>

<br>

<%= form.submit %>
<br>

<% end %>







